@tailwind base;
@tailwind components;
@tailwind utilities; 
body{}
.playBTN{
    background: #00a89e;
}
.playBTN:hover{
    background: #77D36F;
}
.playBTN:hover{
    background: #5ba754;
}
.stopBTN{
    background: #ff297e;
}
.stopBTN:hover{
    background: #ff297fd3;
}
.stopBTN:hover{
    background: #ff297fa8;
}
:root {
  --label-color-vchart: #374151; /* gray-700 */
}
.dark {
  --label-color-vchart: #e5e7eb; /* gray-200 */
}
